$def with (lasttemps, lastimage)
<div class="row">
  <div class="col-md-6">
    <h2>Teplotní údaje</h2>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Senzor</th>
          <th>Měření</th>
          <th>Aktuální teplota</th>
        </tr>
        $for lasttemp in lasttemps:
        <tr><td>$lasttemp['name']</td><td>$lasttemp['date']</td><td>$lasttemp['temp']</td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h2>Poslední fotografie</h2>
    <p>pořízená $lastimage.rstrip('.jpg')</p>
    <img class="img-responsive" src="/static/images/$lastimage" />
  </div>
</div>
