$def with (temp_series, lastimage, sensors, cond_serie)
<div class="row well">
    <div class="col-md-4">
      <h3>Poslední měření</h3>
      <a href="/last/now"><button type="button" class="btn btn-primary">Deset hodin</button></a>
      <a href="/last/today"><button type="button" class="btn btn-primary">Dnes</button></a> 
      <a href="/last/yesterday"><button type="button" class="btn btn-primary">Včera</button></a> 
      <a href="/last/week"><button type="button" class="btn btn-primary">7 dní</button></a> 
    </div>
    <div class="col-md-4">
      <h3>Průměry teplot</h3>
      <button type="button" class="btn btn-primary">Denní</button>
      <button type="button" class="btn btn-primary">Měsíční</button>
      <button type="button" class="btn btn-primary">Roční</button>
    </div>
    <div class="col-md-4">
      <h3>Záznamy obrazu</h3>
      <button type="button" class="btn btn-primary">Včera</button>
      <button type="button" class="btn btn-primary">Předevčírem</button>
      <a href="/static/gifs/"><button type="button" class="btn btn-primary">Ostatní</button></a>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Teplotní údaje</h2>
    <div class="graphline" id="graph-temp-hum" data-title="Tempreatures" data-ytitle="Tempreature" data-series="$temp_series"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Teplotní rekordy</h2>
    <table class="table table-bordered" width="100%">
  <tbody>
  <tr><th>Senzor</th><th>Minimum</th><th>Maximum</th></tr>
  $for sensor in sensors:
    <tr><td>$sensor['name']</td><td>$sensor['min'] °C</td><td>$sensor['max'] °C</td></tr>
    </tbody>
  </table>
  </div>
  <div class="col-md-6">
    <h2>Stav podnebí</h2>
    <div class="graphpie" id="graph-condition" data-title="Conditions" data-series="$cond_serie"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Poslední fotografie pořízená $lastimage.rstrip('.jpg')</h2>
    <img class="img-responsive" src="/static/images/$lastimage" />
  </div>
</div>

