<div class="row">
  <div class="col-md-3">
    <h2>Datum záznamu</h2>
    <div><input id="date" type="date"></div>
    <h2>Aktuálni foto</h2>
    <div id="actualphoto">000-00-00 00:00:00</div>
    <h2>Ovládání</h2>
    <button id="stop" type="button" class="btn btn-danger">Zastavit</button>
    <button id="refresh" type="button" class="btn btn-success">Refresh</button>
  </div>
  <div class="col-md-6">
    <h2>Stream</h2>
    <img id="stream" class="img-responsive" src="http://meteo.frenzy.cz/static/images/2014-02-27_00:00:04.jpg" />
  </div>
  <div class="col-md-3">
    <h2>Seznam fotografií</h2>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Vyberte fotografii <span class="caret"></span>
      </button>
      <ul id="photoslist" class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="row">
  <div class="col-md-12">
    <div id="selectedphoto"></div>
  </div>
</div>
<div id="imgcontainer"></div>
